*.iml
.gradle
/local.properties
/.idea
gradle/
gradlew
gradlew.bat
gradle.properties
app-release.apk
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

app/release/app-release.apk

app/release/output.json
